.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.weather__title {
  color: skyblue;
  font-size: 100px;
  font-weight: 400;
}

.weather__temperature {
  color:  skyblue;
  font-size: 80px;
  font-weight: 400;
}

.weather__icon {
  width: 15%;
}



